# Add any directories, files, or patterns you don't want to be tracked by version control
/storage/*.key
/vendor
/node_modules
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock